.contacts {
  position: relative;
  padding-top: 200px;
  padding-bottom: 55px;
  background-image: url("https://panda-nft.github.io/cutSpace/images/footer/Bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  &::before {
    position: absolute;
    bottom: -2px;
    left: 50%;
    content: "";
    display: block;
    width: 743px;
    height: 372px;
    background-image: url(../../../images/footer/oval-footer-bg.svg);
    background-repeat: no-repeat;
    background-size: initial;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    display: block;
    width: 478px;
    height: 547px;
    margin-left: 79px;
    background-image: url("https://panda-nft.github.io/cutSpace/images/footer/girl.png");
    background-repeat: no-repeat;
    background-size: initial;
  }
}

.contact__info {
}

.contact__text {
  max-width: 300px;
  padding: 15px 0 30px;
}

.contact__title {
  max-width: 360px;
}
